.navbar {
    background: transparent;
    height: 100px;
    font-size: 1.2rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    transition: all 0.4s ease-out;
}

.navbar-container {        
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar.active{
    background: #11111f;
    color: #F1F1F0;
    transition: all 0.4s ease-out;
    padding-top: 0;
    height: 80px;
}

    .navbar.active .navbar-container, .navbar.active .navbar-container .navbar-logo, .navbar.active .nav-menu .nav-item ,.navbar.active .nav-menu .nav-item .nav-links{
        background: transparent;
        color: #F1F1F0;
    }

    .navbar.active .navbar-logo .navbar-logo-icon{
        width: 20%;
        transition: all 0.4s ease-out;
    }

    .container {
    z-index: 1;
    width: 100%;
    max-width: 94%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
    }

    .navbar-logo {
    color: #373334;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    align-items: center;
    }

    .navbar-logo-icon{
        width: 22%;
        padding: 2%;
        background: transparent;
    }

    .navbar-icon {
    margin-right: 0.5rem;
    transition: all 0.4s ease-out;
    }

    .nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-align: center;
    justify-content: end;
    }

    .nav-item {
    height: 80px;
    border-bottom: 2px solid transparent;
    }

    .nav-item:hover {
    border-bottom: 2px solid #ff7f32;
    }

    .nav-links {
    color: #ff7f32;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    font-size: 1.7rem;
    font-weight: 500;
    cursor: pointer;
    }
    
    .fa-bars {
    color: #373334;
    }

    .menu-icon {
    display: none;
    }

@media screen and (max-width: 960px) {
    .NavbarItems {
        position: relative;
    }
    .navbar, .navbar.active ,.navbar-container{
        height: 75px;
    }

    .navbar.active .menu-icon{
        background:transparent;
    }
    .navbar.active .menu-icon svg{
        background:transparent;
        color: #F1F1F0 !important;     
    }
    .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 95vh;
        padding: 5rem 0;
        position: fixed;
        top: 4rem;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        left: 0;
        opacity: 1;
        transition: all 0.6s ease;
        z-index: 1;
    }
    .navbar .nav-menu.active{
        background: #11111f;
    }

    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
        font-weight: 400;
    }

    .nav-links:hover {
        color: #ff7f32;
        transform: scale(1.2);
        transition: all 0.3s ease;
    }

    .nav-item:hover {
        border: none;
    }

    .nav-item {
        width: 100%;
    }
    .navbar-logo-icon, .navbar.active .navbar-logo .navbar-logo-icon{
        width: 20%;
        margin-left: 15px;
    }

    .navbar-logo {
    position: absolute;
    top: -24px;
    left: 0;
    transform: translate(0%, 40%);
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: -5px;
        right: 0;
        transform: translate(-60%, 45%);
        font-size: 2.3rem;
        cursor: pointer;
    }

    .fa-times {
        color: #373334;
        font-size: 2rem;
    }

    .nav-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 120px;
    }
    
}